<% content_for :body do %>
  <%= raw @page.content_for(Refinery::Pages.default_parts.first.to_sym) if Refinery::Pages.default_parts.any? %>
  
  <div class='inquiries'>
    <%= simple_form_for [refinery, :inquiries, @inquiry] do |f| %>
      <%= render :partial => "/refinery/admin/error_messages",
             :locals => {
               :object => @inquiry,
               :include_object_name => true
             } %>
      <%= f.input :name, :input_html => { :class => 'text', :placeholder => t('name', :scope => 'activerecord.attributes.refinery/inquiries/inquiry')}, :label_html => { :class => 'placeholder-fallback' } %>

      <%= f.input :email, :input_html => { :class => 'text email', :placeholder => t('email', :scope => 'activerecord.attributes.refinery/inquiries/inquiry')}, :label_html => { :class => 'placeholder-fallback' } %>

      <%= f.input :phone, :input_html => { :class => 'text phone', :placeholder => t('phone', :scope => 'activerecord.attributes.refinery/inquiries/inquiry')}, :label_html => { :class => 'placeholder-fallback' } %>

      <%= f.input :message, :wrapper_html => { :class => 'options message_field' } , :input_html => {:rows => 8, :required => 'required', :placeholder => t('message', :scope => 'activerecord.attributes.refinery/inquiries/inquiry')}, :label_html => { :class => 'placeholder-fallback' }, :as => :text %>
      
      <div class="actions">
        <%= link_to t('.privacy_policy'), "/pages/privacy-policy", :id => "privacy_link" if Refinery::Inquiries.show_contact_privacy_link %>
        <%= f.button :submit %>
      </div>

    <% end %>
  </div>
<% end %>
<%= render "/refinery/content_page" %>
