<div id="body-content">
  <%#= render '/refinery/content_page' %>
  <div class="inner">
    <%= raw @page.content_for(:header) %>
  </div>
</div>

  <div class="circle overlaid">
    <div class="inner">
      <h2 style="display: block;">Say</h2> 
      <h2 style="display: block;">Hello</h2>
      <span class="arrow ss-down"></span>
    </div>
   </div>

<div id="projects">
  <div class="inner">
    <%= raw @page.content_for(:body) %>
    <%= render :partial => "/refinery/portfolio/galleries/galleries", :locals => {:galleries => @galleries} %>
    <div class='inquiries'>
      <%= simple_form_for [refinery, :inquiries, @inquiry] do |f| %>
        <%#= render :partial => "/refinery/admin/error_messages",
               :locals => {
                 :object => @inquiry,
                 :include_object_name => true
               } %>
               
        <%= display_flash_messages %>

        <%= f.input :name, :input_html => { :class => 'text', :placeholder => t('name', :scope => 'activerecord.attributes.refinery/inquiries/inquiry')}, :label_html => { :class => 'placeholder-fallback' }, :label => false %>

        <%= f.input :email, :input_html => { :class => 'text email', :placeholder => t('email', :scope => 'activerecord.attributes.refinery/inquiries/inquiry')}, :label_html => { :class => 'placeholder-fallback' }, :label => false %>

        <%= f.input :phone, :input_html => { :class => 'text phone', :placeholder => t('phone', :scope => 'activerecord.attributes.refinery/inquiries/inquiry')}, :label_html => { :class => 'placeholder-fallback' }, :label => false %>

        <%= f.input :message, :wrapper_html => { :class => 'options message_field' } , :input_html => {:rows => 8, :required => 'required', :placeholder => t('message', :scope => 'activerecord.attributes.refinery/inquiries/inquiry')}, :label_html => { :class => 'placeholder-fallback' }, :as => :text, :label => false %>
        
        <div class="actions">
          <%= link_to t('.privacy_policy'), "/pages/privacy-policy", :id => "privacy_link" if Refinery::Inquiries.show_contact_privacy_link %>
          <%= f.button :submit, "Send" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
